.page-animate-enter-from {
  opacity: 0;
  transform: translateX(10%);
}

.page-animate-leave-to {
  opacity: 0;
  transform: translateX(-10%);
}

.page-animate-enter-active,
.page-animate-leave-active {
  transition: all 0.3s linear;
}

.page-animate-enter-to,
.page-animate-leave-from {
  opacity: 1;
  transform: translateX(0);
}
